<% provide(:title, 'Contacts') %>
<h1 class="page-title">CS 232 Contact</h1>

<section class="main">
  <dl>
    <dt>Email</dt>
    <dd><a href="mailto://rlee10@mail.ccsf.edu">rlee10@mail.ccsf.edu</a></dd>
  </dl> 
</section>